// Colors
$darkCyan: hsl(185, 75%, 39%);
$veryDarkDesaturatedBlue: hsl(229, 23%, 23%);
$darkGrayishBlue: hsl(227, 10%, 46%);
$darkGray: hsl(0, 0%, 59%);
$thinDarkGray: hsla(0, 0%, 59%, 0.25);
$white: hsl(0, 0%, 100%);

// Font Sizes
$font-md: 1.125rem; // 18px
$font-sm: 0.875rem; // 14px
